nav{
    background-image: url(./images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150vh;
}